{{>header}}

{{>navbar}}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>IRON-MAN</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore reprehenderit excepturi perspiciatis, quibusdam illo sit quisquam assumenda minus ut neque consequuntur itaque, quae provident harum sunt iusto. Quasi, recusandae voluptate?
                Quidem neque vel omnis veritatis repellendus molestiae nisi obcaecati expedita rerum animi atque praesentium aliquid ipsum, tempore repudiandae repellat quod quam modi perspiciatis pariatur. Molestiae alias soluta nulla qui vel!
                Mollitia impedit enim eius maiores dolore quia labore consequuntur laborum vitae, deserunt in sapiente quod autem vero consectetur amet dolor reprehenderit voluptas. Quae beatae ex repellat totam tempora placeat sit.
            </p>
        </div>
        <div class="col-8">
            <img src="assets/img/ironman.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
</div>
{{>footer}}